
{{!-- 
    Citation for the following file:// Date: 05/07/2025
    Adapted from: Activity 2 - Connect webapp to database
    Source URL: https://canvas.oregonstate.edu/courses/1999601/assignments/10006370
--}}
<h1>Accounts</h1>

{{! READ table }}
<table>
    <thead>
        {{! For the table header row, we print the DB attribute names }}
        <tr>
            
            <th>ID</th>
            <th>Account Type</th>
            <th>Balance</th>
            <th>Account Number</th>
            
        </tr>
    </thead>

    <tbody>
        {{! For each row, print the id, fname, lname, homeworld and age }}
        {{#each accounts}}
        <tr>
            <td>{{this.account_id}}</td>
            <td>{{this.account_type}}</td>
            <td>{{this.balance}}</td>
            <td>{{this.account_number}}</td>

            {{!-- DELETE form 
            <form id='delete_account_form'>
                <input type='hidden' name='delete_account_id' value='{{this.account_id}}' />
                <input type='hidden' name='delete_account_number' value='{{this.account_number}}' />
                <td>
                    <button type='submit'>
                        Delete
                    </button>
                </td>
            </form>
            --}}
        </tr>
        {{/each}}
    </tbody>
</table>

{{!-- CREATE form 
<h2>Create an account</h2>
<form class='cuForm' id='create_account_form'>

    <select name='create_account_type_id' id='create_account_type_id'>
        <option value='NULL' selected>Select an Account Type</option>
        {{#each account_types}}
        <option value='{{this.account_type_id}}' required>{{this.account_type}}</option>
        {{/each}}
    </select>
    
    <label for='create_account_balance'>Balance: </label>
    <input type='text' name='create_account_balance' id='create_account_balance'/>

    <input type='submit' />
</form>
--}}