<h1>Customers Accounts</h1>

{{! READ table }}
<table>
    <thead>
        {{! For the table header row, we print the DB attribute names }}
        <tr>
            
            <th>ID</th>
            <th>Customer Name</th>
            <th>Account Number</th>
            <th>Role</th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        {{! For each row, print the id, fname, lname, homeworld and age }}
        {{#each customers_accounts}}
        <tr>
            <td>{{this.customer_account_id}}</td>
            <td>{{this.customer_name}}</td>
            <td>{{this.account_number}}</td>
            <td>{{this.role}}</td>

            {{! DELETE form }}
            <form action="/delete_customer_account" method="POST" id='delete_customer_account_form'>
                <input type='hidden' name='customer_account_id' value='{{this.customer_account_id}}' />
                <td>
                    <button type='submit'>
                        Delete
                    </button>
                </td>
            </form>
        </tr>
        {{/each}}
    </tbody>
</table>

<h2>Create Customer Account</h2>
<form class="caForm" id="create_ca_form" method="POST" action="/create_customer_account">
  <label for='update_customer_name'>Customer: </label>
    <select name='customer_id' id='customer_id' required>
        <option value='' disabled selected>Select a Customer</option>
        {{#each customer_names}}
        <option value='{{this.customer_id}}' required>
            {{this.full_name}}
        </option>
        {{/each}}
    </select>

  <label for="create_account_number">Account Number:</label>
  <select name='account_number' id='update_account_number' required>
        <option value='' disabled selected>Select an Account</option>
        {{#each account_numbers}}
        <option value='{{this.account_number}}' required>
            {{this.account_number}}
        </option>
        {{/each}}
 </select>
  <br />
  <label for="create_role">Role:</label>
  <select name="role" id="create_role" required>
    <option value="" disabled selected>Select a Role</option>
    <option value="Primary">Primary</option>
    <option value="Secondary">Secondary</option>
  </select>

  <br />
  <button type="submit">Create Account</button>
</form>


{{! UPDATE form }}
<h2>Update Customer Account</h2>
<form action="/update_customer_account" method = "POST" class='caForm' id='update_ca_form'>
    <label for='update_customer_account_id'>Customer Account to Update: </label>
    <select name='customer_account_id' id='update_customer_account_id' required>
        <option value='' disabled selected>Select a Customer Account</option>
        {{#each customers_accounts}}
        <option value='{{this.customer_account_id}}' required>
            {{this.customer_account_id}}
        </option>
        {{/each}}
    </select>
    <label for='update_account_id'> </label>
    </br>
    <label for='update_customer_name'>Customer: </label>
    <select name='customer_id' id='customer_id' required>
        <option value='' disabled selected>Select a Customer</option>
        {{#each customer_names}}
        <option value='{{this.customer_id}}' required>
            {{this.full_name}}
        </option>
        {{/each}}
    </select>
    </br>
    <label for='update_account_id'>Account Number: </label>
    <select name='account_number' id='update_account_number' required>
        <option value='' disabled selected>Select an Account</option>
        {{#each account_numbers}}
        <option value='{{this.account_number}}' required>
            {{this.account_number}}
        </option>
        {{/each}}
    </select>

    </br>

    <label for='update_role'>Role: </label>
    <select name="role" id="update_role" required>
        <option value="" disabled selected>Select a Role</option>
        <option value="Primary">Primary</option>
        <option value="Secondary">Secondary</option>
    </select>

    
    </br>
    <input type='submit' />
</form>
<script src="/JavaScript/customers_accounts.js"></script>